<div ng-include="'scripts/homepage/ap-post/addPost.html'"></div>

<div ng-controller="PostCtrl">
  <div class="post" ng-repeat="post in posts">
    <md-toolbar class="toolbar">
      <header class="header-post">
        <div class="md-toolbar-tools">
          <img ng-src="{{post.imageAuthor}}" style="width: 20px;height: 20px">

          <h2 class="md-flex" style="margin-left:14px">{{post.title}}</h2>
        </div>
      </header>
    </md-toolbar>

    <md-content flex layout-padding style="border-radius: 5px">
      <div class="post-content">
        <img ng-src="{{post.image}}" class="image-post">

        <h3 style="margin-left: 5px"><strong>{{post.title}}</strong></h3>

        <p class="content-post">{{post.content}}</p>
        <a ui-sref="postDetail({id:post._id})" style="margin-left: 8px">Read More <i class="fa fa-angle-right"></i></a><br>
      </div>
      <div class="icon-post">
        <div layout layout-align="left left">
          <a><i class="material-icons" style="margin-left: 14px;padding-top: 2px">thumb_up</i> Like </a>
          <a><i class="material-icons" style="margin-left: 14px;padding-top: 2px">comment</i> Comment</a>
          <a><i class="material-icons" style="margin-left: 14px;padding-top: 2px">redo</i> Share</a>
        </div>
      </div>
      <footer class="postFooter" style="border-top:1px solid #dfdfdf;margin-top: 15px;background-color: #f8f8f8">
        <div ng-repeat="comment in post.comments" style="padding: 4px;margin-left: 4px">
          <div style="color: #000066">
            <img ng-src="{{comment.imageUserComment}}" style="width: 20px;height: 20px">
            {{comment.userComment}}
            {{comment.comment}}
          </div>
        </div>
        <div style="border-top: 1px solid #c6c6c6">
          <img ng-src="{{post.imageAuthor}}"
               style="width: 24px;height: 24px;margin-top: 10px;;background-color: #f8f8f8;margin-left: 8px;">
        <textarea rows="2" cols="40" name="comment" ng-click="toggle=!toggle"
                  style="border: none;border-color: transparent;color: grey;margin-top: 10px;;background-color: #f8f8f8; font-family: helvetica;font-size: 11px">
      Write a comment</textarea>
          <a ui-sref="profile" class="addPhoto"></a>
          <a ui-sref="profile" class="feeling"></a>
        </div>
      </footer>
    </md-content>
  </div>
</div>
