<div>
  <ap-container title="About">

    <ap-menu-profile>

      <ap-menu-profile-item name="game" icon="fa fa-gamepad" route="game"></ap-menu-profile-item>
      <ap-menu-profile-item name="study" icon="fa fa-graduation-cap" route="study"></ap-menu-profile-item>
      <ap-menu-profile-item name="family" icon="fa fa-users" route="family"></ap-menu-profile-item>
      <ap-menu-profile-item name="email" icon="fa fa-envelope" route="email"></ap-menu-profile-item>
      <ap-menu-profile-item name="information" icon="fa-dashboard" route="information"></ap-menu-profile-item>

    </ap-menu-profile>

  </ap-container>

  <div ng-include="'views/profile_friends.html'"></div>
</div>
